---
import Layout from '@layouts/layout.astro';
import { Image } from 'astro:assets';

import reece from 'public/images/reece.png';

import htmlLogo from "public/images/html.png";
import cssLogo from "public/images/css.png";
import jsLogo from "public/images/js.png";
import java from "public/images/java.png";
import csLogo from "public/images/c-sharp.png";
---
<style>
 /*Phone Screen*/
 .page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;  
  margin: 6em 0;
}

  .sub-text {
    text-align: center;
    margin-top: 2%;
  }

  /*Moving Text*/
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .dynamic-text .wrapper {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
    width: auto;
  }

  .dynamic-text .dynamic-list {
    list-style: none;
    font-size: 20px;
    color: var(--secondary-color);
    white-space: nowrap;
  }

  .dynamic-text li span {
    position: relative;
  }

  .dynamic-text li span::after {
    content: "";
    position: absolute;
    height: 1.2em;
    width: 100%;
    border-left: 2px solid #f58939;
    left: 0;
    animation: typing 5s steps(27) infinite;
    background: var(--primary-bg-color);
  }

  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 20px 0 20px;
    }
  }

  /*Header Text*/
  .text-intro {
    font-size: 80px;
    line-height: 1em;
  }

  .color-change{
    font-size: 100px;
    color: var(--highlight-color);
  }

  p{
    color: var(--secondary-color);
  }

  /*About*/

 
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }



.profile{
  border-radius: 50%;
  border: solid 5px var(--highlight-color);
  width: 300px;
  height: auto;
}

/*Languages*/
.languages{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.language{
  width: 15rem;
  height: auto;
  padding: .5em 0;
}

.language-container{
  padding: 2em 0;
}

.language-text{
  color: var(--secondary-color);
  text-align: center;
}

/*Screens bigger than 500px */
@media only screen and (min-width: 500px) {

.text-intro {
  font-size: 111px;
}

.color-change{
  font-size: 140px;
}

.dynamic-text .dynamic-list {
  font-size: 30px;
}
}


/*Screens bigger than 1000px */
@media only screen and (min-width: 1000px){

  .text-intro {
      font-size: 114px;
    }

    .color-change{
      font-size: 140px;
    }

    .dynamic-text .dynamic-list {
      font-size: 31px;
    }

 /*about*/
  .about-container{
    flex-direction: row;
    padding: 2em;
    justify-content: space-around;
    width: 1000px;
    max-width: 1200px;
  }

  .about-text{
    max-width: 600px;
  }

  /*languages*/
  .languages{
    flex-direction: row;
    justify-content: space-around;
  }
}

/*Screens bigger than 1300px */
@media only screen and (min-width: 1300px) {
    .text-intro {
      font-size: 150px;
    }

    .color-change {
      font-size: 189px;
    }

    .dynamic-text .dynamic-list {
      font-size: 45px;
    }
  }

  /*Screens bigger than 1700px */
  @media only screen and (min-width: 1700px) {
    .text-intro {
      font-size: 180px;
    }

    .color-change {
      font-size: 225px;
    }

    .dynamic-text .dynamic-list {
      font-size: 53px;
    }
  }
</style>


<Layout title='Home'>
  <section>
     <!---Page header -->
     <div class="page-header">
      <h1 class="text-intro">
        HI, I AM <br /><span class="color-change">Reece</span><br
          class="gap"
        />
      </h1>
      <!--Moving Text -->
      <div class="wrapper">
        <p class="sub-text">
          <ul class="dynamic-text">
            <li class="dynamic-list">
              <span> A Junior Software Developer</span>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2 class="container-heading">&lt;About Me/&gt;</h2>
   <div class="container-wrapper">
    <div class="about-container">
       
      <p class="about-text">
        Hello there! 👋 I'm Reece, a junior software developer passionate
        about crafting elegant solutions to real-world problems. <br /><br
        />My journey in the realm of technology began with Web Development,
        and I've been on an exciting learning adventure ever since.
      </p>
 
        <!--Profile image -->
        <div class="profile-image">
         <Image
           src={reece}
           class="profile"
           alt="Reece Farrell Picture"
         />
       </div>
      </div>
   </div>
  </section>
 
  <section>
     <!--Languages I use -->
     <h2 class="container-heading">&lt;Languages I Use/&gt;</h2>
     <div class="languages">
       <!---HTML -->
       <div class="language-container">
         <div class="language">
           <Image class="language" src={htmlLogo} alt="HTML logo" />
         </div>
         <div class="language-text"><p>HTML 5</p></div>
       </div>
       <!---CSS -->
       <div class="language-container">
         <div class="language">
           <Image class="language" src={cssLogo} alt="CSS logo" />
         </div>
         <div class="language-text"><p>CSS</p></div>
       </div>
       <!---JS -->
       <div class="language-container">
         <div class="language">
           <Image class="language" src={jsLogo} alt="JavaScript logo" />
         </div>
         <div class="language-text"><p>JavaScript</p></div>
       </div>
       <!---JAVA -->
       <div class="language-container">
         <div class="language">
           <Image class="language" src={java} alt="JavaScript logo" />
         </div>
         <div class="language-text"><p>JAVA</p></div>
       </div>
       <!---C# -->
       <div class="language-container">
         <div class="language">
           <Image class="language" src={csLogo} alt="C-Sharp logo" />
         </div>
         <div class="language-text"><p>C#</p></div>
       </div>
     </div>
  </section>
</Layout>
